
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000;
        }
        .back-img {
            background-image: url("../img/b-black-liquid-wave-luxury-premium-pattern-flying-into-digital-technologic-panorama-animation-3d.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        .container {
            background-color: #000;
            border: 1px solid #c7c3c3;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            color: white;
            text-align: center;
        }

        img {
            width: 80%;
        }

        input {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #2EACFF;
        }

        #message {
            margin-top: 20px;
            color: red;
        }
        p {
           font-size: smaller;
        }
